<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECollegeRoom"
        tools:targetApi="31">
        <activity
            android:name="com.shahin.eclasseroom.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <activity android:name="com.shahin.eclasseroom.SettingsActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            />
        <activity
            android:name="com.shahin.eclasseroom.AnnouncementsActivity"
            android:label="Announcements"
            />
        <activity
            android:name="com.shahin.eclasseroom.LecturesActivity"
            android:label="Lectures"

            />
        <activity
            android:name="com.shahin.eclasseroom.EventsActivity"
            android:label="Events"

            />
        <activity
            android:name="com.shahin.eclasseroom.CoursesActivity"
            android:label="Courses"
            />
        <activity
            android:name="com.shahin.eclasseroom.MyProfileActivity"
            android:label="My Profile"

            />
        <activity
            android:name="com.shahin.eclasseroom.HomeActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"

            />
        <activity
            android:name="com.shahin.eclasseroom.SignupActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"

            />
        <activity
            android:name="com.shahin.eclasseroom.LoginActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"


            />

    </application>

</manifest>